<br>
<div class="title-container">
  <div class="left">
    <h3>
      <i-bs name="chat-square"></i-bs> Unit Competency {{lessonNumber}}
    </h3>
  </div>
  <div class="right" (click)="back()">
    <i-bs name="arrow-left-circle-fill"></i-bs> Back to Courses
  </div>

</div>
<br>
<div class="row">
  <div *ngFor="let data of videos" class="col-sm-12 col-md-4">
      <app-lesson-item (click)="goToVideo(data)" [src]="data.poster" [videoTitle]="data.title" [description]="data.description" [length]="data.length"></app-lesson-item>
  </div>
</div>
