
<app-navbar [showMenu]="showMenu" (toggleSidebar)="toggleSidebar()"></app-navbar>

<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar  [(opened)]="opened">
        <br>
        <h5 class="sidebar-title"><i-bs name="collection-play-fill"></i-bs>  {{sidebarTitle}}</h5>
        <span *ngIf="sidebarTitle === 'Videos'"class="overview">Unit Competency {{lessonNumber}}</span>
        <span *ngIf="sidebarTitle === 'Unit Competencies'"class="overview">{{selectedCourse.name}}</span>
        <br><br>
        <ul *ngIf="sidebarTitle === 'Unit Competencies' ">
          <li [ngClass]="lessonNumber === i + 1 ? 'selected' : ''" *ngFor="let data of numberOfUc; let i = index" (click)="selectLesson(i + 1)">
              <span>
                  <i-bs name="tv"></i-bs> Unit Competency {{i + 1}}
              </span>
            </li>
        </ul>
        <ul *ngIf="sidebarTitle === 'Videos' ">
          <li [ngClass]="data.id === video.id ? 'selected' : ''" *ngFor="let data of videos; let i = index" (click)="goToVideo(data)">
            <span>
              <i-bs name="tv"></i-bs> {{data.title}}
            </span>
            <span>
              {{getTime(data.length)}}
              <i-bs name="check-circle" *ngIf="checkIfWatched(data.id)"></i-bs>
            </span>
        </ul>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="container">
           <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <p class="copy">Copyright 2020 St. Peregrine Institute. All Rights Reserved</p>
        </div>
    </div>

</ng-sidebar-container>
